body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.grass,
.sky,
.road {
  position: relative;
}
.grass {
  height: 190px;
  background: seagreen;
}
.sky {
  height: 290px;
  background: skyblue;
}
.road {
  background: darkgrey;
  height: 220px;
  box-sizing: border-box;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  width: 100%;
}
.liner {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  top: 45%;
  position: absolute;
  border: 3px dashed #fff;
}
.mario {
  width: 100px;
  height: 90px;
  position: absolute;
  top: -40px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: both;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-timing-function: cubic-bezier(0, 0.77, 1, .28); */
}
.luigi {
  width: 100px;
  height: 90px;
  position: absolute;
  top: 80px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: reverse; */
}
.cloud {
  position: absolute;
}
.cloud1 {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}
.cloud2 {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}
@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1500%);
  }
}
@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}
